@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.page-wrapper-inside {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  padding: 0 70px;
  display: flex;
  background-color: #FFFFFF;
}

.page-header-logo {
  display: flex;
  margin-bottom: -6px;
  margin-right: 28px;
  z-index: 2;
}

.navigation {
  display: flex;
  width: 940px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  max-width: 268px;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  color: #000000;
  transition: background-color 0.3s;
}

.navigation-link:hover {
  background-color: #E5E5E5;
}

.navigation-link-current::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  right: 16px;
  left: 16px;
}

.navigation-cart-link {
  margin-right: 20px;
}

.navigation-cart-link::after {
  content: '12';
  position: absolute;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  top: 11px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button {
  box-sizing: border-box;
  display: inline;
  font-family: inherit;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border: none;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-light {
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}

.button-light.active {
  border: 2px solid #000000;
}

.rent-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 34px;
}

.select-control {
}

.text-information-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.text-information-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.hero {
  text-align: center;
  margin-bottom: 21px;
}

.hero-promo {
  width: 651px;
  margin: 0 auto;
  padding: 69px 0;
}

.hero-promo .text-information-title {
  margin-bottom: 25px;
}

.hero-background-image {
  vertical-align: middle;
  object-fit: cover;
}

.advantages-promo {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  grid-auto-rows: minmax(385px, auto);
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 111px 85px;
}

.advantages-item-container p {
  margin: 0;
}

.advantages-item-picture {
  grid-column: 1/ span 3;
  flex-direction: row;
}

.advantages-item-picture .advantages-item-container {
  padding: 103px 85px;
}


.advantages-item-image {
  vertical-align: middle;
  object-fit: cover;
}

.advantages-item:first-child .advantages-item-title,
.advantages-item:last-child .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child, .advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  color: #000000;
  margin: 0 0 60px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
  display: block;
  padding: 0 29px;
  position: relative;
}

.advantages-item-title::after {
  content: '';
  position: absolute;
  top: 86px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}


.advantages-item-picture .advantages-item-title::after {
  content: '';
  position: absolute;
  top: 86px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-invite-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-invite-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-invite-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-invite-container {
  width: 230px;
  margin: 0 auto;
  padding: 80px 0;
}

.advantages-invite-container::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 76px;
  height: 76px;
  margin: 0 auto 30px;
}

.advantages-invite-icon-home::before {
  background-image: url("../images/icons/advantages/house.svg");
}

.advantages-invite-icon-food::before {
  background-image: url("../images/icons/advantages/food.svg");
}

.advantages-invite-icon-souvenirs::before {
  background-image: url("../images/icons/advantages/present.svg");
}

.advantages-invite-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px;
}

.advantages-invite-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.newsletter {
  color: #000000;
}

.newsletter .text-information-description {
  color: #333333;
}

.find {
  padding: 96px 0;
  width: 592px;
  margin: 0 auto;
}

.find .text-information-description {
  margin-bottom: 54px;
}

.find-button {
  display: block;
  padding: 8px 50px;
  margin: 0 auto;
}

.newsletter-background {
  color: #FFFFFF;
  background-image: url("../images/blur-filter-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-background .text-information-description {
  color: #FFFFFF;
}

.newsletter-inner {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.newsletter .text-information-description {
  margin-bottom: 54px;
}

.newsletter-form {
  margin: 0 auto;
  display: flex;
}

.newsletter-input {
  font-family: inherit;
  flex-grow: 1;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.newsletter-input::placeholder {
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  min-width: 232px;
}

.button-secondary-color {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-secondary-color:hover {
  background-color: #68A2CA;
}

.button-secondary-color:focus {
  background-color: #68A2CA;
}

.button-secondary-color:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}


.page-footer {
  background-color: #FFFFFF;
  justify-content: space-between;
  display: flex;
  padding: 40px 70px 30px;
  align-items: flex-end;
}

.footer-social {
  width: 142px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:active {
  outline: none;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0 auto;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}


.footer-social-link {
  display: block;
  position: relative;
  padding: 15px 14px;
  min-height: 16px;
  min-width: 18px;

}

.footer-logo {
  width: 115px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-icon:hover {
  fill: #756157;
}

.footer-logo-icon:focus {
  fill: #756157;
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-developer {
  display: block;
}

.catalog-filter {
  color: #FFFFFF;
  background-image: url("../images/blur-filter-photo.jpg");
  background-size: cover;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter {
  margin: 0 auto;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrumbs-item {
  display: inline;
  position: relative;
}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 11px;
  top: 5px;
  right: 7px;
  background-image: url("../images/icons/arrow.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 26px;
}

.breadcrumbs-link svg {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  outline: none;
}

.breadcrumbs-link:focus svg {
  fill: rgba(255, 255, 255);
}


.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}


.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-buttons .button {
  font-size: 16px;
  margin-bottom: 32px;
  padding: 8px 50px;
  line-height: 20px;
}

.catalog-filter-buttons .button:last-child {
  margin-bottom: 0;
}


.catalog-filter-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-hotels {
  padding: 50px 70px 60px;
  margin: 0 auto;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-left-controls {
  width: 371px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-left-controls .catalog-filter-group {
  width: 150px;
}

.catalog-filter-right-controls {
  width: 549px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
}

.catalog-header-controls {
  margin-left: auto;
  display: flex;
  width: 522px;
}

.view-type-list {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.view-type-list .button {
  display: block;
  padding: 14px 12px;
  min-width: 48px;
  min-height: 48px;
}

.view-type-item {
  margin-right: 8px;
}

.view-type-item:last-child {
  margin-right: 0;
}

.view-type-item .button {
  background-repeat: no-repeat;
  background-position: center;
}

.view-type-item .button:hover {
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.view-type-item .button:focus {
  background-color: #FFFFFF;
  border: 2px solid #68A2CA;
}

.view-type-item .button:active {
  border: 2px solid #000000;
}


.button-show-cards {
  background-image: url('../images/icons/columns-view.svg');
}

.button-show-feed {
  background-image: url('../images/icons/slide-view.svg');
}

.button-show-list {
  background-image: url('../images/icons/list-view.svg');
}


.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0 0 80px;
  gap: 20px;
  list-style-type: none;
}

.control-input {
  line-height: 23px;
  margin: 0 16px 0 0;
}

.button-link {
  background-color: transparent;
  border: 0;
}

.button-link:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-link:focus {
  outline: 3px solid #83B3D3;
  background-color: transparent;
}

.button-link:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-link:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1)
}

.catalog-count {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hotel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.hotel-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-details:last-child {
  margin: 0;
}

.hotel-details p {
  margin: 0;
}

.hotel-card-link {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image {
  vertical-align: middle;
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0 0 16px;
  font-size: 24px;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.hotel-card-stars {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card-star.active {
  width: 18px;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.hotel-card-buttons .button {
  font-size: 16px;
  line-height: 20px;
  max-height: 36px;
  max-width: 140px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}


.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  width: 60px;
  height: 60px;
  padding: 11px 24px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  justify-content: center;
  border: 1px solid transparent;
}

.pagination-link:hover {
  border: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 1px solid #82B3D3;
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-spacing .pagination-link {
  background-color: transparent;
  color: #000000;
}

.pagination-spacing .pagination-link:hover,
.pagination-spacing .pagination-link:focus,
.pagination-spacing .pagination-link:active {
  outline: none;
  border: 1px solid transparent;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #F2F2F2;
  border: 1px solid transparent;
}

