/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 2% and last 1 version
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.page-wrapper-inside {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  padding: 0 70px;
  display: flex;
  background-color: #FFFFFF;
}

.page-header-logo {
  display: flex;
  margin-bottom: -6px;
  margin-right: 28px;
  z-index: 2;
}

.navigation {
  display: flex;
  width: 940px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  max-width: 268px;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  color: #000000;
  transition: background-color 0.3s;
}

.navigation-link:hover {
  background-color: #E5E5E5;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  right: 16px;
  left: 16px;
}

.navigation-cart-link {
  margin-right: 20px;
}

.navigation-cart-link .navigation-link::after {
  content: "12";
  position: absolute;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  top: 11px;
  right: 4px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button {
  box-sizing: border-box;
  display: inline;
  font-family: inherit;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border: none;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-light {
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}

.button-light.active {
  border: 2px solid #000000;
}

.rent-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 34px;
}

.select-control-wrapper {
  width: 292px;
  margin-right: 70px;
}

.select-control {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 48px 12px 20px;
  font: inherit;
  color: #333333;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:focus {
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
}

.text-information-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.text-information-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.hero {
  position: relative;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  clip-path: polygon(50% 100%, 21% 88%, 21% 93%, 0% 88%, 0% 0%, 100% 0%, 100% 88%, 79% 93%, 79% 88%);
}

.hero-background-image {
  vertical-align: middle;
  object-fit: cover;
}

.advantages-discuss {
  width: 651px;
  margin: 0 auto 21px;
  padding: 69px 0;
}

.advantages-discuss .text-information-title {
  margin-bottom: 25px;
}

.advantages-promo {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  grid-auto-rows: minmax(385px, auto);
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 111px 85px;
}

.advantages-item-container p {
  margin: 0;
}

.advantages-item-picture {
  grid-column: 1/ span 3;
  flex-direction: row;
}

.advantages-item-picture .advantages-item-container {
  padding: 103px 85px;
}

.advantages-item-image {
  vertical-align: middle;
  object-fit: cover;
}

.advantages-item:first-child .advantages-item-title,
.advantages-item:last-child .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child, .advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  color: #000000;
  margin: 0 0 60px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
  display: block;
  padding: 0 29px;
  position: relative;
}

.advantages-item-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-picture .advantages-item-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-invite-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-invite-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-invite-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-invite-container {
  width: 230px;
  margin: 0 auto;
  padding: 80px 0;
}

.advantages-invite-container::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  width: 76px;
  height: 76px;
  margin: 0 auto 30px;
}

.advantages-invite-icon-home::before {
  background-image: url("../images/icons/advantages/house.svg");
}

.advantages-invite-icon-food::before {
  background-image: url("../images/icons/advantages/food.svg");
}

.advantages-invite-icon-souvenirs::before {
  background-image: url("../images/icons/advantages/present.svg");
}

.advantages-invite-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px;
}

.advantages-invite-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.newsletter {
  color: #000000;
}

.newsletter .text-information-description {
  color: #333333;
}

.find {
  padding: 96px 0;
  width: 592px;
  margin: 0 auto;
}

.find .text-information-description {
  margin-bottom: 54px;
}

.find-button {
  display: block;
  padding: 8px 50px;
  margin: 0 auto;
}

.newsletter-background {
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-color: #68A2CA;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-background .text-information-description {
  color: #FFFFFF;
}

.newsletter-inner {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.newsletter .text-information-description {
  margin-bottom: 54px;
}

.newsletter-form {
  margin: 0 auto;
  display: flex;
}

.newsletter-input {
  font-family: inherit;
  flex-grow: 1;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.newsletter-input::placeholder {
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  min-width: 232px;
}

.button-secondary-color {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-secondary-color:hover {
  background-color: #68A2CA;
}

.button-secondary-color:focus {
  background-color: #68A2CA;
}

.button-secondary-color:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.button-active-color {
  background-color: #7DB54F;
}

.button-active-color:hover {
  background-color: #6C9E42;
}

.button-active-color:focus {
  background-color: #6C9E42;
}

.button-active-color:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.30);
}

.button-active-color:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.page-footer {
  background-color: #FFFFFF;
  justify-content: space-between;
  display: flex;
  padding: 40px 70px 30px;
  align-items: flex-end;
}

.footer-social {
  width: 142px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:active {
  outline: none;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0 auto;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.footer-social-link {
  display: block;
  position: relative;
  padding: 15px 14px;
  min-height: 16px;
  min-width: 18px;

}

.footer-logo {
  width: 115px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.30);
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-icon:hover {
  fill: #756157;
}

.footer-logo-icon:focus {
  fill: #756157;
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-developer {
  display: block;
}

.catalog-filter {
  color: #FFFFFF;
  background-image: url("../images/blur-filter-photo.jpg");
  background-color: #68A2CA;
  background-size: cover;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter {
  margin: 0 auto;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0
}

.navigation-breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-item {
  display: inline;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 11px;
  top: 5px;
  right: 7px;
  background-image: url("../images/icons/arrow.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 26px;
}

.breadcrumbs-link svg {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  outline: none;
}

.breadcrumbs-link:focus svg {
  fill: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 18px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-buttons .button {
  font-size: 16px;
  margin-bottom: 32px;
  padding: 8px 50px;
  line-height: 20px;
}

.catalog-filter-buttons .button:last-child {
  margin-bottom: 0;
}

.catalog-filter-buttons {
  width: 191px;
  display: flex;
  margin-top: 56px;
  flex-direction: column;
}

.catalog-hotels {
  padding: 50px 70px 60px;
  margin: 0 auto;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  width: 288px;
}

.catalog-filter-left-controls {
  width: 371px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-left-controls .catalog-filter-group {
  width: 150px;
}

.catalog-filter-right-controls {
  width: 549px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}

.catalog-header-controls {
  display: flex;
  width: 522px;
}

.view-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.view-type-list .button {
  display: block;
  padding: 14px 12px;
  min-width: 48px;
  min-height: 48px;
}

.view-type-item {
  margin-right: 8px;
}

.view-type-item:last-child {
  margin-right: 0;
}

.view-type-item .button {
  background-repeat: no-repeat;
  background-position: center;
}

.view-type-item .button:hover {
  background-color: #FFFFFF;
  border: 2px solid #000000;
}

.view-type-item .button:focus {
  background-color: #FFFFFF;
  border: 2px solid #68A2CA;
}

.view-type-item .button:active {
  border: 2px solid #000000;
}

.button-show-cards {
  background-image: url("../images/icons/columns-view.svg");
}

.button-show-feed {
  background-image: url("../images/icons/slide-view.svg");
}

.button-show-list {
  background-image: url("../images/icons/list-view.svg");
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0 0 80px;
  gap: 20px;
  list-style-type: none;
}

.control-input {
  line-height: 23px;
  margin: 0 16px 0 0;
}

.button-link {
  background-color: transparent;
  border: 0;
}

.button-link:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-link:focus {
  outline: 3px solid #83B3D3;
  background-color: transparent;
}

.button-link:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-link:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1)
}

.catalog-count {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hotel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.hotel-details {
  display: grid;
  justify-content: space-between;
  margin-bottom: 16px;
  grid-template-columns: repeat(2, 140px);
}

.hotel-details:last-child {
  margin: 0;
}

.hotel-details p {
  margin: 0;
}

.hotel-price {
  text-align: right;
}

.hotel-card-link {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333333;
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-image {
  vertical-align: middle;
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0 0 16px;
  font-size: 24px;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.hotel-card-stars {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-card-star.active {
  width: 18px;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}

.hotel-card-buttons .button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 18px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  justify-content: center;
  border: 1px solid transparent;
}

.pagination-link:hover {
  border: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 1px solid #82B3D3;
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  background-color: #82B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-spacing .pagination-link {
  background-color: transparent;
  color: #000000;
}

.pagination-spacing .pagination-link:hover,
.pagination-spacing .pagination-link:focus,
.pagination-spacing .pagination-link:active {
  outline: none;
  border: 1px solid transparent;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  z-index: 2;
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: 0;
  border-radius: 50%;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;
  border: none;
}

.modal-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0 0 64px;
}

.field-group {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  flex-wrap: wrap;
  position: relative;
}

.field-group .form-label {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 137px;
  text-transform: capitalize;
}

.field-group .field-tip {
  position: absolute;
  bottom: -25px;
  left: 157px;
  margin: 0;
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

.field-tip.field-validation-error {
  color: #FF5757;
}

.modal-submit-control {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 18px 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.date-control {
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
  padding: 12px 20px;
  border: none;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.date-control::placeholder {
  opacity: 0.6;
}

.date-control:hover {
  background-color: #E6E6E6;
}

.date-control:focus {
  outline: 3px solid #83B3D3;
}

.date-control-wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.date-control-wrapper .date-control {
  width: 100%;
}

.date-control-wrapper::after {
  display: block;
  position: absolute;
  opacity: 0.3;
  top: 14px;
  right: 20px;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-control {
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
}

.counter-control button {
  box-sizing: border-box;
  display: block;
  color: rgba(117, 97, 87, 0.30);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  min-width: 20px;
  min-height: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.counter-control button:hover {
  opacity: 1;
}

.counter-control button:focus {
  opacity: 1;
  border-radius: 4px;
  outline: 3px solid #82B3D3;
}

.counter-control button:active {
  opacity: 0.3;
  outline: none;
}

.button-counter-wrapper {
  padding: 14px 10px;
}

.counter-control .minus-button {
  background-image: url("../images/icons/minus.svg");
}

.counter-control .plus-button {
  background-image: url("../images/icons/plus.svg");
}

.counter-control input {
  display: flex;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 10px;
  text-align: center;
  background-color: #F2F2F2;;
  max-width: 30px;
  outline: none;
}

.counter-control input::-webkit-outer-spin-button,
.counter-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.amount-person-group {
  display: grid;
  grid-template-columns: repeat(2, 247px);
  grid-auto-rows: minmax(48px, auto);
  gap: 88px;
}

.tooltip {
  position: absolute;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  display: block;
  background-image: url("../images/icons/tooltip.svg");
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
  margin-left: 10px;
  cursor: pointer;
}

.tooltip-text {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  margin-top: 12px;
  margin-left: 5px;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 22px;
  border-radius: 10px;
  width: 256px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
}

.tooltip-text:before {
  content: "";
  background-image: url("../images/icons/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #F2F2F2;
  border: 1px solid transparent;
}

.range {
  position: relative;
}

.range-scale {
  top: 45px;
  position: relative;
  height: 4px;
  background-color: #5E676B;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  margin-right: 2px;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  padding: 12px 20px;
  font: inherit;
  border: none;
  font-weight: 700;
  line-height: 24px;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.min-price-wrapper, .max-price-wrapper {
  position: relative;
}

.min-price-wrapper::after {
  position: absolute;
  content: "от";
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  line-height: 24px;
  bottom: 12px;
  right: 20px;
}

.max-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.max-price-wrapper::after {
  position: absolute;
  content: "до";
  color: rgba(0, 0, 0, 0.3);
  font-family: inherit;
  line-height: 24px;
  bottom: 12px;
  right: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 1;
}

.control:active .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input:disabled {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
