@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-index {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.page-wrapper-inside {
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  background-color: #FFFFFF;
}

.page-header-logo {
  margin-bottom: -10px;
  z-index: 2;
}

.page-header-inner {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 940px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  max-width: 250px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  color: #000000;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  background-color: #756157;
}


.rent-button {
  font-size: 16px;
  line-height: 20px;
}

.text-information-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.text-information-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.hero {
  text-align: center;
}

.hero-promo {
  width: 651px;
  margin: 0 auto 20px;
  padding: 64px 0;
}

.advantages-promo {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  grid-auto-rows: 385px;
}

.advantages-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  margin: 0 auto;
  height: 100%;
}

.advantages-item-picture {
  grid-column: 1/ span 3;
  flex-direction: row;
}


.advantages-item-image {
  vertical-align: middle;
}

.advantages-item:first-child .advantages-item-title,
.advantages-item:last-child .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child, .advantages-item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-invite-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.advantages-invite-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-invite-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-invite-container {
  width: 230px;
  margin: 0 auto;
}

.advantages-invite-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-invite-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.newsletter {
  color: #000000;
}

.newsletter .text-information-description {
  color: #333333;
}

.find-inner {
  padding: 96px 0;
  width: 592px;
  margin: 0 auto;
}

.find .text-information-description {
  margin-bottom: 54px;
}

.find-button {
  display: block;
  margin: 0 auto;
}

.newsletter-background {
  color: #FFFFFF;
  background-image: url("../images/blur-filter-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-background .text-information-description {
  color: #FFFFFF;
}

.newsletter-inner {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.newsletter .text-information-description {
  margin-bottom: 54px;
}

.newsletter-form {
  margin: 0 auto;
}

.button-secondary-color {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.page-footer {
  background-color: #FFFFFF;
  justify-content: space-between;
}

.page-footer-inner {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.footer-social {
  width: 142px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
  margin: 0 auto;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.footer-logo {
  width: 115px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  text-decoration: none;
}


.catalog-filter {
  color: #FFFFFF;
  background-image: url("../images/blur-filter-photo.jpg");
  background-size: cover;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-inner {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-buttons .button {
  font-size: 16px;
}

.catalog-filter-buttons {
  width: 191px;
}

.catalog-hotels-inner {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-left-controls {
  width: 371px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-left-controls .catalog-filter-group {
  width: 150px;
}
.catalog-filter-right-controls {
  width: 549px;
  margin-left: auto;
  display: flex;
}

.catalog-header {
  display: flex;
}

.catalog-header-controls {
  margin-left: auto;
  display: flex;
}

.view-type-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
}

.control-input {
  line-height: 23px;
}

.button-link {
  background-color: transparent;
  border: 0;
}

.catalog-count {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-details {
  display: flex;
  justify-content: space-between;
}

.hotel-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
  color: #333333;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-buttons button {
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

